* {
  text-decoration: none;
  font-family: Roboto !important;
}

.heading-pink {
  color: #ec008c;
}

.para-theme {
  color: #7b7b7b;
  font-size: 18px;
}

header{
  background: #0071bc1a;
}

.heading-border::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #ec008c;
  bottom: 0;
}

.heading-center-border::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #ec008c;
  bottom: 0;
  right: 46%;
}

.s-num {
  width: 40px;
  height: 40px;
  background-color: #3d9bda4b;
  border-radius: 50%;
  font-size: 25px;
}

.s-card {
  background: #0076c2;
}

.gallery {
  background-image: url("/Rectangle.png");
  background-size: cover;
}

.facility {
  background-color: #f2f8fb;
  opacity: 0.7;
}

.f-before::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 56px;
  background-color: #c2ddeb;
  bottom: 40%;
  right: 0;
}
.team-img img {
  width: 250px;
}
.footer {
  background-color: #101010;
}

/* about start */
.bg-theme {
  background: #0071bc1a;
}

/* about end */
